# App Demo Code

This notebook contains pre-pared model and data to be used in the app for demo purposes.

In [2]:
import pandas as pd

parent_dir = '../../../'

In [3]:
movies = pd.read_csv(parent_dir + 'data/mod_movies_lc', index_col = 0)

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
movies.shape

(9737, 3)

#### Trying to access just movies between 1990-2020 so that only newer movies get shown to rate.

In [7]:
movies_10 = movies.title.head(10)
movies_10

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
5                           Heat (1995)
6                        Sabrina (1995)
7                   Tom and Huck (1995)
8                   Sudden Death (1995)
9                      GoldenEye (1995)
Name: title, dtype: object

In [10]:
for title in movies_10:
    print(title[-5:-1])

1995
1995
1995
1995
1995
1995
1995
1995
1995
1995

In [20]:
late = list((range(1990, 2021)))
late

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [22]:
late = list(map(lambda x: str(x), late))

In [23]:
late

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [14]:
titles = movies.titles

In [15]:
late_movies = movies[movies['title'][-5:-1].isin(late)]
late_movies

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [16]:
movies['title'][-5:-1]

9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
Name: title, dtype: object

In [24]:
for movie in movies:
    if movie['title'][-5:-1].isin(late):
        continue
    else:
        movies.drop(movie, axis = 0, inplace = True)
        
movies.shape

TypeError: string indices must be integers

### Ratings

In [25]:
ratings = pd.read_csv(parent_dir + 'data/mod_ratings_lc', index_col=0)

In [26]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0