# App Demo Code

This notebook contains pre-pared model and data to be used in the app for demo purposes.

In [2]:
import pandas as pd
from surprise import Dataset, Reader
from surprise import accuracy
from surprise.model_selection import train_test_split, cross_validate
from surprise.prediction_algorithms import SVD, SVDpp

parent_dir = '../../../'

In [3]:
movies = pd.read_csv(parent_dir + 'data/mod_movies_lc', index_col = 0)

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
movies.shape

(9737, 3)

#### Trying to access just movies between 1990-2020 so that only newer movies get shown to rate.

In [7]:
movies_10 = movies.title.head(10)
movies_10

0                      Toy Story (1995)
1                        Jumanji (1995)
2               Grumpier Old Men (1995)
3              Waiting to Exhale (1995)
4    Father of the Bride Part II (1995)
5                           Heat (1995)
6                        Sabrina (1995)
7                   Tom and Huck (1995)
8                   Sudden Death (1995)
9                      GoldenEye (1995)
Name: title, dtype: object

In [10]:
for title in movies_10:
    print(title[-5:-1])

1995
1995
1995
1995
1995
1995
1995
1995
1995
1995

In [20]:
late = list((range(1990, 2021)))
late

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [22]:
late = list(map(lambda x: str(x), late))

In [23]:
late

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [14]:
titles = movies.titles

In [15]:
late_movies = movies[movies['title'][-5:-1].isin(late)]
late_movies

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [69]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN

In [20]:
late = list((range(1990, 2021)))
late

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [22]:
late = list(map(lambda x: str(x), late))

In [73]:
late

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [14]:
titles = movies.titles

In [15]:
late_movies = movies[movies['title'][-5:-1].isin(late)]
late_movies

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [16]:
movies['title'][-5:-1]

9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
Name: title, dtype: object

In [24]:
for movie in movies:
    if movie['title'][-5:-1].isin(late):
        continue
    else:
        movies.drop(movie, axis = 0, inplace = True)
        
movies.shape

TypeError: string indices must be integers

In [64]:
movies.sample(5)

,movieId,title,genres
4909,7361,Eternal Sunshine of the Spotless Mind (2004),Drama|Romance|Sci-Fi
9399,164647,Dirty 30 (2016),Comedy|Romance
4354,6370,"Spanish Apartment, The (L'auberge espagnole) (...",Comedy|Drama|Romance
4928,7390,Prey for Rock & Roll (2003),Drama|Musical
2673,3577,Two Moon Junction (1988),Drama|Romance

### Ratings

In [25]:
ratings = pd.read_csv(parent_dir + 'data/mod_ratings_lc', index_col=0)

In [26]:
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

## Modeling

In [30]:
# create surprise reader:
reader = Reader(rating_scale = (.5, 5))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [32]:
# perform train test split
trainset, testset = train_test_split(data, test_size=0.25)

In [33]:
# create best model object (from dann's modelling)
svdpp = SVDpp(n_factors=50, reg_all=0.05, lr_all=0.01)

# Train the model on the trainset, and predict ratings for the testset
svdpp.fit(trainset)
predictions = svdpp.test(testset)

# compute RMSE
accuracy.rmse(predictions)

RMSE: 0.8585

0.8584853203070689

In [35]:
predictions[0]

387

In [37]:
predictions_df = pd.DataFrame(predictions)

In [38]:
predictions_df.head()

   uid     iid  r_ui       est                    details
0  387    1348   3.5  2.993656  {'was_impossible': False}
1  298  128975   2.0  2.278427  {'was_impossible': False}
2  599   26629   2.0  2.303692  {'was_impossible': False}
3   68   76751   3.0  3.247564  {'was_impossible': False}
4  604     185   4.0  3.663546  {'was_impossible': False}

In [43]:
predictions_df.sort_values(by = 'est')

       uid    iid  r_ui       est                    details
14688  298  76175   1.0  0.830678  {'was_impossible': False}
23562  287    432   0.5  0.881181  {'was_impossible': False}
18999  308     19   1.0  0.918547  {'was_impossible': False}
17855  297   1556   1.0  0.973225  {'was_impossible': False}
19903  160   3826   1.0  1.082293  {'was_impossible': False}
...    ...    ...   ...       ...                        ...
23980  594    110   5.0  5.000000  {'was_impossible': False}
520    251    318   5.0  5.000000  {'was_impossible': False}
22446  610    858   5.0  5.000000  {'was_impossible': False}
7214   414    858   5.0  5.000000  {'was_impossible': False}
13408  250    318   5.0  5.000000  {'was_impossible': False}

[25209 rows x 5 columns]

In [45]:
predictions_df[predictions_df['uid'] == 298].sort_values(by = 'r_ui', ascending = False)

       uid    iid  r_ui       est                    details
4304   298    541   4.5  3.012129  {'was_impossible': False}
20037  298  59615   4.5  2.035840  {'was_impossible': False}
4378   298  79008   4.0  2.811914  {'was_impossible': False}
23658  298   1089   4.0  3.409591  {'was_impossible': False}
10317  298  27773   4.0  3.425658  {'was_impossible': False}
...    ...    ...   ...       ...                        ...
22024  298   6367   0.5  1.762157  {'was_impossible': False}
22088  298  47122   0.5  1.534704  {'was_impossible': False}
18143  298  86320   0.5  2.288298  {'was_impossible': False}
8776   298   3981   0.5  1.711052  {'was_impossible': False}
12077  298   7367   0.5  1.723129  {'was_impossible': False}

[243 rows x 5 columns]

In [ ]:
# add the new ratings to the original movies df
combined_ratings = ratings.append(user_ratings, ignore_index=True)
data = Dataset.load_from_df(combined_ratings, reader)

# fit the model to the data with the new user's ratings
model.fit(data.build_full_trainset()) # do we need .build_full_trainset() here? - seems so since it doens't work without

# create a list of tuples containing the new user's predicted ratings for each movie
list_of_movies = []
for movieId in ratings['movieId'].unique():
    print(model.predict(userId, movieId)[3])
    list_of_movies.append((movieId, model.predict(userId, movieId)[3]))

# rank the predictions from highest to lowest
rank_movies = sorted(list_of_movies, key = lambda x:x[1], reverse=True)

# grab the top 5 highest predicted ratings
top_5 = rank_movies[:5]

print out the top 5 recommendations

In [46]:
new_user = [{'userId': '1000', 'movieId': '1', 'rating': 2}, {'userId': '1000', 'movieId': '3','rating': 5}, 
            {'userId': '1000', 'movieId': '6', 'rating': 2.5}, {'userId': '1000', 'movieId': '47', 'rating': 4.5}, 
            {'userId': '1000', 'movieId': '50', 'rating': 3}]

In [47]:
combined_ratings = ratings.append(new_user, ignore_index = True)
data = Dataset.load_from_df(combined_ratings, reader)

In [58]:
traintset, testset = train_test_split(data, random_state = 15)

In [59]:
preds = svdpp.test(testset)

In [61]:
preds_df = pd.DataFrame(preds)
preds_df.head()

   uid   iid  r_ui       est                    details
0   18  8957   3.5  3.602737  {'was_impossible': False}
1  182  5650   2.0  3.711171  {'was_impossible': False}
2  246   589   5.0  4.481522  {'was_impossible': False}
3  307  1721   2.0  1.722494  {'was_impossible': False}
4  590  5816   3.5  3.296816  {'was_impossible': False}

In [63]:
movies['title'][-5:-1]

        uid iid  r_ui       est                    details
15006  1000   3   5.0  3.503253  {'was_impossible': False}

In [79]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1991
1,2,Jumanji (1995),Adventure|Children|Fantasy,1991
2,3,Grumpier Old Men (1995),Comedy|Romance,1991
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1991
4,5,Father of the Bride Part II (1995),Comedy,1991

In [80]:
movies.sample(5)

,movieId,title,genres,year
9323,160271,Central Intelligence (2016),Action|Comedy,1991
3049,4083,Best Seller (1987),Thriller,1991
696,914,My Fair Lady (1964),Comedy|Drama|Musical|Romance,1991
746,976,"Farewell to Arms, A (1932)",Romance|War,1991
7000,67665,Anvil! The Story of Anvil (2008),Documentary|Musical,1991

In [25]:
ratings = pd.read_csv(parent_dir + 'data/mod_ratings_lc', index_col=0)

In [26]:
recommend_5

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [89]:
recommend_5.title

6105        Grand Theft Parsons (2003)
6606    My Kid Could Paint That (2007)
6866                         W. (2008)
4201                        May (2002)
3140                  Dish, The (2001)
Name: title, dtype: object

In [90]:
count = 1
for movie in recommend_5.title:
    print(f"{count}. {movie}")
#     body += f"""
#     <div class="box-2">
#             <h3>{count}. {movie['title'].values[0]}</h3>
#         </div>
#     """
    count += 1

1. Grand Theft Parsons (2003)
2. My Kid Could Paint That (2007)
3. W. (2008)
4. May (2002)
5. Dish, The (2001)